body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 30px;
    text-align: center;
}

#app {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.keyboard {
    display: inline-block;
    margin-top: 20px;
}

.key-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    background-color: #f0f0f0;
    transition: background-color 0.2s;
}

.key.active {
    background-color: blue;
    color: white;
}

.key.wrong {
    background-color: red;
    color: white;
}


h1,
h2,
h3 {
    margin-bottom: 10px;
    color: #333;
}

#currentNameDisplay {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    color: #333;
}

#wordDisplay {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0;
    min-height: 40px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    box-sizing: border-box;
}

.status {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin-top: 10px;
    padding: 0 5px;
}

button {
    font-size: 1em;
    padding: 10px;
    margin: 10px 5px 0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #2c89f4;
    color: white;
    transition: background-color 0.2s;

    &:hover {
        background-color: #176ed3;
    }
}

#resultArea {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
}

#rankingTabs button {
    background-color: #ccc;
    color: #333;

    &.active {
        background-color: #2c89f4;
        color: white;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

    li {
        padding: 5px 0;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}


#rankingArea {
    margin-top: 20px;
    padding: 15px;
    background-color: #f3faff;
    border: 1px solid #c8e4f8;
    border-radius: 10px;

    h3 {
        margin-bottom: 10px;
        color: #1c3e63;
    }

    #rankingTabs {
        margin-bottom: 10px;

        button {
            margin: 0 5px;
            background-color: #ccc;
            color: #333;

            &.active {
                background-color: #2c89f4;
                color: white;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: left;

        li {
            padding: 6px 10px;
            border-bottom: 1px solid #ddd;
        }
    }

    button {
        margin-top: 10px;
    }
}